@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mobile First Design */
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2.5rem;
  height: auto;
  margin: 0;
  background: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 0 24px;
  position: relative;
  height: 95vh;
  background: #fff;
  background-image: url(./images/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1,
.banner p {
  margin: 8px 0;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
  padding: 0;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0;
  margin: 0 1rem;
}

.content-body {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 40px;
  padding: 10px 12px;
  text-decoration: none;
}

.logo-wrapper p {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #6070ff;
  height: 20px;
  width: 76px;
  font-size: 18px;
  line-height: 20px;
}

.menu-items {
  display: none;
  list-style: none;
}

.menu-items.active {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 80px 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: #4b5dff;
  mix-blend-mode: multiply;
  color: #fff;
  animation: slide-in 0.8s ease-in-out both;
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.menu-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px;
}

.menu-btn.active {
  z-index: 2;
  background: #4b5dff;
}

.menu-item a {
  height: 20px;
  font-weight: 600;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.banner-text p {
  position: static;
  width: 100%;
  height: auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.top-container p {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: auto;
  color: #344563;
}

.banner-text h1 {
  position: static;
  width: 100%;
  height: auto;
  font-weight: bold;
  color: #091e42;
  font-size: 40px;
  line-height: 52px;
  margin: 12px 0;
  letter-spacing: 0.37px;
}

.menu-icon {
  position: static;
  margin: 0 0;
  height: 16px;
  width: 17px;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 200px;
  height: 80px;
}

.social-title {
  font-style: normal;
  font-weight: 500;
  height: 24px;
  margin: 8px 0;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 171px;
  margin: 8px 0;
  padding-left: 0;
}

.social-icon {
  color: #505f79;
}

button:hover {
  color: #fff;
  background: #6070ff;
  animation: scale-up2 0.8s ease both;
  cursor: pointer;
}

@keyframes scale-up2 {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

button:active {
  color: #fff;
  background: #2230d2;
}

button:disabled {
  color: #5e6c84;
  background: #e5e5e5;
}

/* Works Section */
.works {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  align-self: stretch;
  padding: 114px 24px;
  background: #f8f8f8;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  width: 327px;
  height: 552px;
  list-style: none;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.project-img-wrapper {
  width: 100%;
  height: 220px;
}

.Project-img {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.project-content-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 295px;
  height: 288px;
  padding: 0;
  margin: 0;
}

.project-header {
  width: 100%;
  height: 80px;
  padding: 0;
}

.project-title {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  width: 267px;
  height: 32px;
  padding: 0;
  margin: 0;
  color: #7a869a;
}

.project-info-title {
  color: #344563;
  margin: 0;
}

.project-info-item {
  margin: 0;
}

.project-info img {
  width: 8px;
  height: 8px;
  margin: 0;
  color: #c1c7d0;
}

.project-description {
  width: 100%;
  height: 76px;
  margin: 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 203px;
  height: 24px;
  list-style: none;
}

.tag-item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  padding: 4px 12px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72px;
  margin-top: 12px;
  padding: 0;
}

.action-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 124px;
  height: 48px;
  padding: 12px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

/* Project Detail Modal Section */
.modal-container {
  display: none;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  background: #c1c7d0;
  z-index: 1;
  animation: slide-in 0.8s ease-in-out both;
}

.works-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  width: 343px;
  height: 713px;
  padding: 18px 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.works-modal .project-header {
  height: 84px;
}

.works-modal .modal-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-body {
  width: 100%;
  height: 353px;
}

.modal-body .project-description {
  height: 220px;
  margin-bottom: 12px;
}

.modal-body .divider {
  width: 100%;
  height: 17px;
}

.modal-body .action-container {
  justify-content: space-between;
  padding: 0 5px;
}

.modal-body .action-btn {
  justify-content: space-between;
  font-size: 15px;
  width: 136px;
}

/* About Section */
.about-section {
  align-self: stretch;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 114px 24px;
  width: 375px;
  height: 1125.15px;
}

.top-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 509px;
}

.top-container h2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 101px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  width: 162px;
  height: 48px;
  margin-top: 22px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
}

/* Skills */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 464.15px;
  margin: 0;
  list-style: none;
}

.skill-item {
  width: 100%;
  margin: 0;
  padding: 0;
}

.languages {
  height: 320.15px;
}

.skill-list-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 12px;
}

.skill-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
  color: #000;
  text-align: left;
}

.skill-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  background: none;
}

.chevron.icon {
  font-size: 20px;
  margin: 0;
  color: #7f848a;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  height: 243px;
  margin: 0;
  list-style: none;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.language-icon {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  margin: 0 12px;
}

.language-text {
  color: #253858;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 375px;
  height: 779px;
  padding: 50px 24px;
  background-image: url(./images/contact-form-shapes-mobile.svg), url(./images/Contact-me.svg);
  background-position: right center;
  background-repeat: no-repeat;
}

.form-group-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 400px;
}

.form-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  height: 56px;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.form-description {
  height: auto;
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form-group-actions input {
  align-self: stretch;
  width: 327px;
  height: 48px;
  padding-left: 16px;
  color: #172b4d;
  font-size: 17px;
  line-height: 20px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  outline: none;
}

.form-group-actions #email::placeholder {
  color: #172b4d;
  font-size: 17px;
}

#email:valid,
#name:valid {
  border: 2px solid #00c000;
  border-radius: 3px;
}

.error-message {
  width: 327px;
  font-size: 15px;
  color: #fff;
}

.textarea-container {
  width: 327px;
  height: 170px;
  padding: 15px 16px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.textarea-container textarea {
  width: 100%;
  height: 140px;
  font-size: 15px;
  line-height: 24px;
  border: none;
  outline: none;
}

.submit-btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  height: 48px;
  color: #6070ff;
  text-align: center;
  letter-spacing: 0.03em;
  background: #fff;
  border: none;
  border-radius: 8px;
}

@media only screen and (min-width: 992px) {
  /* Desktop [992px -> 1220px] */
  body {
    background-image: url(./images/header-background-shape-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
  }

  .menu {
    padding: 0 6rem;
    height: 72px;
  }

  .menu-btn {
    display: none;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 259px;
    height: 40px;
    padding: 0;
  }

  .menu-item {
    flex: 1;
    height: 40px;
    margin: 0;
  }

  .menu-item a {
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .close-button {
    display: none;
  }

  .menu-item:hover {
    animation: scale-up 0.8s ease both;
    cursor: pointer;
  }

  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }

    100% {
      background: #ebebff;
      border-radius: 2px;
      transform: scale(1);
    }
  }

  .banner-text p {
    font-size: 20px;
    line-height: 28px;
  }

  .top-container p {
    width: 327px;
    height: 144px;
  }

  .banner {
    height: 93vh;
    background-image: url(./images/Header-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner-text {
    margin: 0 7rem;
  }

  .banner-text h1 {
    height: 122px;
    font-size: 48px;
    line-height: 60px;
  }

  /* Desktop works card Section */
  .project-card {
    flex-direction: row;
    padding: 24px;
    width: 90vw;
    height: 496px;
    border-radius: 24px;
  }

  .project-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-img-wrapper {
    width: 48%;
    height: 100%;
  }

  .project-content-block {
    width: 47%;
    height: 445px;
    padding: 24px;
    margin-left: 22px;
  }

  .project-header {
    height: 98px;
  }

  .project-title {
    font-size: 40px;
  }

  .project-info {
    width: 297px;
    height: 40px;
    font-size: 18px;
    line-height: 24px;
  }

  .project-description {
    margin: 24px 0;
    font-size: 16px;
  }

  .action-container {
    height: 153px;
    margin-top: 24px;
  }

  /* Desktop Project Modal Section */
  .modal-container {
    overflow: auto;
  }

  .works-modal {
    width: 90%;
    max-width: 1156px;
    height: 1080px;
    padding: 16px 24px;
    margin: 20px 0;
  }

  .works-modal .project-img-wrapper {
    width: 100%;
    height: 586px;
  }

  .modal-body .project-description {
    float: left;
    width: 67%;
    height: 352px;
  }

  .modal-body .divider {
    display: none;
  }

  .modal-body .tags {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .modal-body .tags .tag-item {
    margin: 0 5px;
  }

  .modal-body .tags,
  .modal-body .action-container {
    float: right;
    width: 30%;
  }

  .modal-body .action-btn {
    margin-right: 5px;
  }

  /* Desktop About Section */
  .about-section {
    grid-template-columns: 1fr;
    background-image: url(./images/about-myself-background-shape-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about-wrapper {
    flex-direction: row;
    justify-content: space-around;
    padding: 142px 24px;
    width: 100%;
    height: 676px;
  }

  .top-container {
    width: 41%;
    height: 392px;
  }

  .skills-container {
    width: 47%;
    height: 392px;
  }

  .languages {
    height: 236px;
  }

  .skill-list {
    flex-direction: row;
    width: 414px;
    height: 154px;
  }

  .list-item {
    flex-direction: column;
    justify-content: space-evenly;
    width: 122px;
    height: 120px;
  }

  /* Desktop contact Section */
  .contact-form {
    width: 100%;
    height: 846px;
    background-image: url(./images/contact-form-background-shapes.svg), url(./images/contact-form-background-shape-desktop.svg);
    background-position: center;
  }

  .form-description {
    width: 801px;
  }

  .form-group-actions {
    align-items: center;
  }

  .form-group-actions input {
    width: 447px;
    border-radius: 2px;
  }

  .textarea-container {
    width: 447px;
  }
}
