*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    color: #172B4D;
}

p{
    color: #344563;
}

.navbar{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.menu{
    color: #6070FF;
    width: 18px;
    height: 12px;
}

.my-logo{
    color: #6070FF;
    width: 76px;
    height: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    width: 15%;
}

.container{
    display: flex;
    margin: 10% auto;
    width: 25%;
    padding: 10px;
    position: relative;
    background-image: url(images/header-shapes.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}