@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

h1 {
  color: #172b4d;
  font-size: 32px;
}

p {
  color: #344563;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  padding-inline-start: 0;
  margin-right: 10px;
}

.white-bg {
  background-color: white;
}

.upper {
  text-transform: uppercase;
}

.btl-rad {
  border-top-left-radius: 90px;
}

.navbar {
  position: fixed;
  height: 48px;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

.menu {
  margin-right: 1rem;
  color: #6070ff;
  width: 18px;
  height: 12px;
}

.my-logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
}

.main-section {
  position: relative;
  width: 100vw;
  padding: 118px 0;
  border-bottom-left-radius: 90px;
}

.main-text {
  font-size: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.stretch {
  display: grid;
  grid-template-columns: auto;
}

.container {
  display: flex;
  margin: 0 auto 114px auto;
  padding: 24px;
  position: relative;
  background-image: url(images/header-shapes.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  border-bottom-left-radius: 90px;
  overflow: hidden;
}

.coder {
  display: grid;
  grid-template-columns: auto;
  padding: 24px;
}

.about {
  display: grid;
  justify-items: start;
  padding: 114px 24px 48px 24px;
}

.final-section {
  border-radius: 5px;
}

.card {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 24px;
  padding: 5%;
}

.card .card-img {
  width: 100%;
}

.lang-container {
  display: grid;
  row-gap: 12px;
  grid-template-columns: 100%;
}

.lang {
  display: flex;
  align-items: center;
  justify-items: start;
  background-color: #f7f7f9;
  border-radius: 8px;
}

button {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: rgba(57, 109, 242, 1);
  background-color: transparent;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 24px;
  cursor: pointer;
}

button:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
}

button:active {
  background-color: #2230d2;
}

.tag {
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  padding: 4px 12px;
}

/* Contact Form Style */
.my-form {
  height: auto;
  width: 100%;
  background-image: url("./images/contact-me.png");
  background-repeat: no-repeat;
  background-color: #fff;
}

.my-form-container {
  height: 100%;
  background-image: url("./images/contacts-shapes-bg.png");
  background-color: #616efa;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-top-left-radius: 50%;
  padding: 120px 20px 50px 20px;
  display: flex;
  flex-direction: column;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.background-white {
  background-color: #fff;
}

.my-form-container > h1 {
  font-size: 45px;
  margin-top: 140px;
}

.my-form-container > p {
  font-size: 20px;
  color: #ebebff;
  padding-top: 40px;
  line-height: 45px;
}

form {
  margin-top: 30%;
}

.form-btn {
  width: 140px;
  height: 48px;
  margin-top: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.space {
  margin: 22px 0;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.pad-x-y {
  padding: 10px 10px;
}

.full-width {
  width: 100%;
}

.height-input {
  height: 48px;
}

.font-poppins {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  background-color: #616efa;
}

#black {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  border-radius: 10px;
  margin: 20px 0;
}
