@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

h1 {
  color: #172b4d;
  font-size: 32px;
}

p {
  color: #344563;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
}

li {
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
}

.heading1 {
  display: none;
  position: absolute;
  position: fixed;
  background-color: #6070ff;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
}

.view {
  display: block;
}

.blurry-background {
  filter: blur(4px);
}

.menu1 {
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 12px;
  margin-top: 30px;
  color: white;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 96px 554px 106px 50px;
}

.menu-items li {
  margin: 0;
  padding: 15px 0;
}

.menu-items li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  line-height: 92%;
}

.white-bg {
  background-color: white;
}

.p-page1 {
  color: #7f8cff;
}

.upper {
  text-transform: uppercase;
}

.btl-rad {
  border-top-left-radius: 90px;
}

.heading {
  background-color: white;
  background-image: url(images/header-shapes.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom-left-radius: 95px;
}

.navbar {
  position: fixed;
  height: 48px;
}

/* GENERICS */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

/* END OF GENERICS */

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
}

.menu {
  margin-right: 1rem;
  color: #6070ff;
  width: 18px;
  height: 12px;
}

.my-logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
}

.site-nav ul {
  display: none;
}

.main-section {
  position: relative;
  padding: 118px 0;
  border-bottom-left-radius: 90px;
  margin: 0 5%;
}

.main-text {
  font-size: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.list > li {
  margin-right: 10px;
}

.stretch {
  display: grid;
  grid-template-columns: auto;
}

.Heading {
  display: flex;
  margin: 0 auto 114px auto;
  padding: 24px;
  position: relative;
  background-image: url(images/header-shapes.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  border-bottom-left-radius: 90px;
  overflow: hidden;
  box-sizing: border-box;
}

.about {
  display: grid;
  justify-items: start;
  padding: 114px 24px 48px 24px;
}

.final-section {
  border-radius: 5px;
}

.projects {
  padding: 114px 0;
}

.card {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 24px;
  padding: 5%;
}

.card-img1 {
  display: none;
}

.card .card-img {
  width: 100%;
}

.card-11 {
  display: none;
}

.no-about {
  display: none;
}

.lang-container {
  display: grid;
  gap: 12px;
  grid-template-columns: 100%;
}

.lang {
  display: flex;
  align-items: center;
  justify-items: start;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.lang-logo {
  margin: 9px 12px;
}

.coder {
  padding: 0 36px 113px 36px;
}

.contact .list {
  gap: 20px;
}

.button-style {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: rgba(57, 109, 242, 1);
  background-color: transparent;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 24px;
  cursor: pointer;
}

button {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: rgba(57, 109, 242, 1);
  background-color: transparent;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: 24px;
  cursor: pointer;
}

button:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 0 8px 16px rgb(64, 83, 252, 0.24);
}

button:active {
  background-color: #2230d2;
}

.tag {
  background-color: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  padding: 4px 12px;
}

/* Contact Form Style */
.my-form {
  height: auto;
  width: 100%;
  background-image: url("./images/contact-me.png");
  background-repeat: no-repeat;
  background-color: #fff;
}

.my-form-container {
  height: 100%;
  background-image: url("./images/contacts-shapes-bg.png");
  background-color: #616efa;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border-top-left-radius: 50%;
  padding: 120px 20px 50px 20px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 87px;
}

form input,
form textarea {
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.background-white {
  background-color: #fff;
}

.my-form-container > h1 {
  font-size: 45px;
  margin-top: 104px;
}

.my-form-container > p {
  font-size: 20px;
  color: #ebebff;
  padding-top: 12px;
  line-height: 28px;
}

.form-btn {
  width: 140px;
  height: 48px;
  margin-top: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.space {
  margin: 22px 0;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.pad-x-y {
  padding: 10px 10px;
}

.full-width {
  width: 100%;
}

.height-input {
  height: 48px;
}

.font-poppins {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
}

.divider {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  background-color: #616efa;
}

#black {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  border-radius: 10px;
  margin: 20px 0;
}

.form-instructions:hover {
  cursor: pointer;
  transform: translate(20px, 0);
  transition: all 1s ease-in-out;
}

/* MODAL SECTION */
.modal-container {
  width: 100%;
  height: 100vh;
  top: 0%;
  position: fixed;
  padding: 3% 3%;
  display: none;
}

.modal {
  background-color: #fff;
  height: 100%;
  border-radius: 16px;
  padding: 12px;
  overflow: hidden;
}

.modal-top-title {
  font-size: 32px;
  color: #172b4d;
}

.modal-middle {
  margin-top: 4px;
}

.modal-middle > ul > li {
  margin-right: 12px;
}

.modal-bottom {
  height: 100%;
}

.modal-img-conatiner {
  height: 180px;
  width: 100%;
}

.modal-img-conatiner > img {
  height: inherit;
  width: inherit;
  margin-top: 10px;
}

.modal-para-conatiner {
  height: 220px;
}

.modal-para-conatiner > p {
  text-align: justify;
  padding: 14px 0;
}

.modal-button-conatiner {
  height: 128px;
}

.modal-technologies {
  height: 34px;
  margin-top: 5px;
}

.modal-buttons {
  height: 93.7px;
}

.modal-buttons .modal-btn {
  margin: 0 10px;
  text-decoration: none;
}

.modal-buttons .modal-btn .button-icons {
  height: 15px;
  margin-top: 2px;
  margin-left: 5px;
}

.hide-on-sm {
  display: none;
}

@media screen and (min-width: 992px) {
  body {
    background-color: white;
  }

  .show-on-lg {
    display: block;
  }

  .hide-on-lg {
    display: none;
  }

  .heading {
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("./images/bg-page1.png");
    padding: 24px;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .my-logo {
    width: 86%;
    height: 20px;
    padding: 2px;
    transform: rotate(360deg);
    transition: all 2s ease-in-out;
  }

  .menu {
    display: none;
  }

  .site-nav ul {
    display: flex;
    justify-content: flex-end;
    align-self: center;
  }

  .coder-li a {
    text-decoration: none;
    color: #344563;
    font-size: 20px;
    line-height: 24px;
  }

  .coder-img {
    width: 40px;
    height: 22px;
  }

  .coder-li .coder-img {
    width: 15px;
    height: 18px;
  }

  .site-nav li a {
    margin-left: 40px;
    text-decoration: none;
    color: #344563;
  }

  .site-nav {
    padding: 0 154px 0 154px;
  }

  .main-section {
    align-self: center;
    padding: 370px 220px 234px 220px;
  }

  .content {
    font-size: 16px;
    color: #344563;
    line-height: 28px;
    font-weight: 400;
    margin: 24px 0;
  }

  .card {
    display: flex;
  }

  .cards-11 {
    display: flex;
  }

  .card-11 {
    background-color: #fff;
    width: 1156px;
    height: 496px;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin: 142px auto;
    display: flex;
    justify-content: space-evenly;
  }

  .card-img {
    display: none;
  }

  .card-img1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    transition: all 3s ease-in-out;
  }

  .card-img1:hover {
    transform: scale(0.5);
    cursor: pointer;
  }

  .for-cards {
    margin-top: 2%;
  }

  .for-cards .list {
    gap: 12px;
  }

  .buttons .list {
    gap: 8px;
  }

  button {
    transition: all 2s ease-in-out;
  }

  button:hover {
    background-color: #858585;
  }

  .tonic {
    margin-right: 1%;
    margin-top: 10%;
    margin-left: 5%;
  }

  .switch {
    order: 2;
    margin-right: 5%;
    margin-left: 5%;
  }

  .white-bg {
    display: none;
  }

  .no-about {
    display: flex;
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 90px;
    flex-direction: row;
    padding: 10%;
  }

  .about {
    margin-top: -50px;
  }

  .about .content {
    line-height: 24px;
  }

  .about-desktop {
    width: 50%;
    margin-top: -22%;
    margin-left: 10%;
  }

  .language-container {
    width: 60%;
    margin-left: -30%;
  }

  .lang {
    flex-direction: column;
    align-items: flex-start;
  }

  .lang-container {
    display: flex;
  }

  .lang-container .lang {
    padding: 24px;
  }

  #about-link {
    color: #7f8cff;
  }

  .main-text {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 12px;
  }

  .main-section .content {
    font-size: 20px;
  }

  .coder {
    flex-direction: column;
    align-items: flex-start;
  }

  .coder-li {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;
    height: 50px;
    border-bottom: 1px solid #dfe1e6;
  }

  .my-form {
    background-image: url(./images/bg-img-contactme.png);
    background-repeat: no-repeat;
    background-color: #6070ff;
    display: flex;
    align-items: center;
    border-top-left-radius: 90px;
    padding: 142px 0 139px 0;
    background-size: contain;
  }

  .my-form-container {
    background: none;
    padding: 0 365px;
  }

  form {
    margin: 40px 60px;
  }

  form input,
  #message {
    border-radius: 0;
  }

  .divider {
    display: none;
  }

  .form-btn {
    align-self: center;
  }

  /* MODAL SECTION */
  .modal-container {
    padding: 2% 20%;
    background-color: #131518b9;
  }

  .modal {
    padding: 20px;
  }

  .modal-top-title {
    font-size: 32px;
  }

  .modal-middle {
    margin-top: 4px;
  }

  .modal-middle > ul > li {
    margin-right: 12px;
  }

  .modal-bottom {
    height: 100%;
    padding: 0;
  }

  .modal-img-conatiner {
    height: 70%;
    width: 100%;
  }

  .modal-img-conatiner > img {
    height: inherit;
    width: inherit;
    margin-top: 10px;
    object-fit: fill;
  }

  .modal-para-conatiner {
    margin-top: -15%;
    width: 60%;
    margin-right: 10px;
  }

  .modal-para-conatiner > p {
    font-size: 20px;
    line-height: 40px;
    text-align: justify;
    padding: 14px 0;
  }

  .wrapper {
    display: flex;
  }

  .modal-button-conatiner {
    height: 200px;
    width: 40%;
    margin-top: -15%;
    margin-left: 10px;
  }

  .modal-technologies {
    height: 34px;
    margin-top: 5px;
  }

  .modal-buttons {
    justify-content: flex-start !important;
    margin-left: -10px;
    margin-top: 20%;
  }

  .grid-list {
    display: grid;
    grid-template-columns: 20% 15% 30%;
    gap: 10px;
  }

  .modal-top-close-icon {
    cursor: pointer;
  }
}
